/** {
    border: 1px solid black;
}*/
img {
    display: block;
}
#logo {
    display: flex;
    justify-content: center;
}
#search {
    display: flex;
    justify-content: center;
}
#search-bar {
    width: 582px;
    height: 44px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;  
}
#search-bar:hover {
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
}